In [2]:
#nut butter sales
import numpy as np
import pandas as pd

In [3]:
np.random.seed(0)
sales_amounts = np.random.randint(20, size=(5, 3))
sales_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [4]:
sales_amount1 = np.random.randint(22, size=(5, 2))
sales_amount1

array([[14, 17],
       [ 5, 13],
       [ 8,  9],
       [20, 19],
       [16, 19]])

In [5]:
# prices array
prices = [10, 8, 12]

In [6]:
weekly_sales = pd.DataFrame(sales_amount,
                           index=["Mon", "Tues", "Wed", "Thur", "Friday"],
                           columns=["Almond butter", "Peanut butter", "Cashew butter"])
weekly_sales

NameError: name 'sales_amount' is not defined

In [ ]:
# Create prices array
prices = np.array([10, 8, 12])
prices

In [ ]:
# Create butter_prices DataFrame
butter_prices = pd.DataFrame(prices.reshape(1, 3),
                            index=["Price"],
                            columns=["Almond butter", "Peanut butter", "Cashew butter"])
butter_prices

In [7]:
prices.shape

AttributeError: 'list' object has no attribute 'shape'

In [8]:
prices

[10, 8, 12]

In [9]:
sales_amount.shape

NameError: name 'sales_amount' is not defined

In [10]:
total = prices.dot(sales_amounts)

AttributeError: 'list' object has no attribute 'dot'

In [11]:
# Shapes aren't aligned -> Transpose
total_sales = prices.dot(sales_amount.T)
total_sales

AttributeError: 'list' object has no attribute 'dot'

In [12]:
# Create daily_sales
butter_prices

NameError: name 'butter_prices' is not defined

In [13]:
weekly_sales.shape, butter_prices.shape

NameError: name 'weekly_sales' is not defined

In [14]:
daily_sales = butter_prices.dot(weekly_sales.T)

NameError: name 'butter_prices' is not defined

In [15]:
weekly_sales.T.shape

NameError: name 'weekly_sales' is not defined

In [16]:
daily_sales = butter_prices.dot(weekly_sales.T)
daily_sales

NameError: name 'butter_prices' is not defined

In [17]:
weekly_sal

NameError: name 'weekly_sal' is not defined

In [18]:
weekly_sales["Total ($)"] = daily_sales.T # Transpose to fit the shape to coloumn
weekly_sales

NameError: name 'daily_sales' is not defined

### Comparison Operators

In [19]:
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [20]:
a2 = np.array([1. , 2. , 3.3],
             [4. , 5. , 6.5])

TypeError: Field elements must be 2- or 3-tuples, got '4.0'