## Introduction to Scikit-Learn(sklearn)
### Supervised Learning

This notebook demonstrates some of the most common Scikit-Learn functions.

List of contents:

In [24]:
covering = [
    "0. An end-to-end Scikit-Learn workflow",
    "1. Getting the data ready",
    "2. Choose the right estimator/algorithm for our problems",
    "3. Fit the model/algorithm and use it to make predicttions on our data",
    "4. Evaluating a model",
    "5. Improve a model",
    "6. Save and load a trained model",
    "7. Putting it all together!"
]

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [26]:
covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it to make predicttions on our data',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together!']

## 0. An end-to-end Scikit-Learn workflow

In [27]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [47]:
# Create X (features matrix)
X = heart_disease.drop("target", axis=1)

# Create y(labels)
y = heart_disease["target"]

In [50]:
# 2. Choose the right model and hyperparamaters (This case is classification)
from sklearn.ensemble import RandomForestClassifier
cls = RandomForestClassifier()

# We'll keep the default hyperparamaters
cls.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [53]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [54]:
cls.fit(X_train, y_train)

RandomForestClassifier()

In [57]:
# make a prediction
y_preds = cls.predict(X_test)
y_preds

array([0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0], dtype=int64)

In [58]:
y_test

266    0
161    1
16     1
300    0
236    0
      ..
105    1
73     1
243    0
220    0
110    1
Name: target, Length: 61, dtype: int64

In [59]:
#4. Evaluate the model on the training data and test data
cls.score(X_train, y_train)

1.0

In [61]:
cls.score(X_test, y_test)

0.8524590163934426

In [67]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.93      0.78      0.85        32
           1       0.79      0.93      0.86        29

    accuracy                           0.85        61
   macro avg       0.86      0.86      0.85        61
weighted avg       0.86      0.85      0.85        61

In [68]:
accuracy_score(y_test, y_preds)

0.8524590163934426

In [76]:
# 5. Improve a models
# Try different amount of n_esitmators
np.random.seed(17)
for i in range(10, 100, 10):
    print(f"Trying models with {i} estimators...")
    cls = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {cls.score(X_test, y_test) * 100}:.2f")
    print("")

Trying models with 10 estimators...
Model accuracy on test set: 86.88524590163934:.2f

Trying models with 20 estimators...
Model accuracy on test set: 91.80327868852459:.2f

Trying models with 30 estimators...
Model accuracy on test set: 85.24590163934425:.2f

Trying models with 40 estimators...
Model accuracy on test set: 83.60655737704919:.2f

Trying models with 50 estimators...
Model accuracy on test set: 81.9672131147541:.2f

Trying models with 60 estimators...
Model accuracy on test set: 81.9672131147541:.2f

Trying models with 70 estimators...
Model accuracy on test set: 83.60655737704919:.2f

Trying models with 80 estimators...
Model accuracy on test set: 85.24590163934425:.2f

Trying models with 90 estimators...
Model accuracy on test set: 83.60655737704919:.2f

In [77]:
# 6. Save a model and load it
import pickle

pickle.dump(cls, open("random_forest_model1.pkl", "wb"))

In [79]:
loaded_model = pickle.load(open("random_forest_model1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.8360655737704918

### 1. Getting our data ready to be used with machine learning

Three main things we have to do:

    1. Split the data into features and labels(usually `X` & `y`)
    2. Filling (also called imputing) or disregarding missing values
    3. Converting non-numerical values to numerical values
        (also called feature encoding)

In [81]:
# Step 1.
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [82]:
X = heart_disease.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [83]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [84]:
# Fundamental principle - never evaluate or test the models on the data that 
# it has learned from -> hence we split it training and test sets

In [85]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [87]:
X_train.shape, X_test.shape, y_train.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (242,), (61,))

In [90]:
X.shape[0] * 0.8

242.4

In [91]:
len(heart_disease)

303

# Step 2.
## Make sure it's all numerical

In [93]:
car_sales = pd.read_csv("car-sales-extended.csv")
len(car_sales)

1000

In [94]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [98]:
car_sales["Doors"].value_counts()

Doors
4    856
5     79
3     65
Name: count, dtype: int64

In [96]:
# Split the data in the X and Y
X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

# Split into training and test
X_train, X_test, y_trian, y_test = train_test_split(X,
                                                   y,
                                                   test_size=0.2)

In [97]:
# Build machine learning model
from sklearn.ensemble import RandomForestRegressor # predicts a number
model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)
# as of current stat the model can't deal with strings

ValueError: could not convert string to float: 'Nissan'

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransforemer

categorical_fetures = ["Make", "Colour", "Doors"]